

{% block subscribed %}
{% endblock %}


{% block feed %}
<div class="feed">
    
</div>
{% endblock feed %}


{% block posts %}
<!--card start-->
<div class="post-block">
    <div class="post-card">
        <div class="header">
            <div class="actions">
                <button class="cancel" type="button">Cancel</button>
            </div>
          <div class="content">
             <span class="title">Deactivate account</span>
             <p class="message">Are you sure you want to deactivate your account? All of your data will be permanently removed. This action cannot be undone.</p>
          </div>
           <div class="actions">
             <button class="donate-btn" type="button">Desactivate</button>
          </div>
        </div>
        </div>
</div>
  <!--card end-->
{% endblock %}


{% block petition %}
{% endblock %}